/* font-family: "Poppins", sans-serif; */
/* font-family: "Playfair Display", serif; */


*{
    margin: 0;
    padding: 0;
}
header{
    text-align: center;
    font-family: "Poppins", sans-serif;
}
.container{
    width: calc(100% - 20px);
    max-width: 1200px;
    margin: auto;
}

header .container{
    display: flex;
    justify-content: space-between;
}

header a{
    color: #333;
    text-decoration: none;
    padding: 0 10px;
    line-height: 40px;
    display: block;
}

#logo{
    width: 50px;
    height: 50px;
    display: block;
    background-image: url("img/diamond.svg");
    background-size: contain;
    background-repeat: no-repeat;
    padding: 0;
}

header button{
    height: 40px;
    width: 40px;
    background-color: rgb(255, 255, 255);
    border: none;
    background-size:50%;
    background-repeat: no-repeat;
    background-position: center;
    outline: 1px solid #acacac;
    transition: .7s;

}

h2{
    color: #222;
    font-family: "Playfair Display", serif;
    font-weight: 200;
}
a{
    text-decoration: none;
    color: #333;
    font-family: "Poppins", sans-serif;

} 

#searchbtn{
    background-image: url("img/search.svg");
}

#basketbtn{
    background-image: url("img/bag.svg");
}

#heartbtn{
    background-image: url("img/heart.svg");
}

#profilebtn{
    background-image: url("img/avatar-people-profile-svgrepo-com.svg");
}

.upperright{
    display: flex;
}

header #lower{
    padding: 20px 0;
}

button:hover, header a:hover{
    
    background-color: #eeeeee;
    cursor: pointer;
}

.upperleft{
    display: flex;
}

#upper{
    border-bottom: 1px solid #acacac;
}

nav{
    display: flex;
}

#heart {
    background-image: url("img/heart.svg");
    top: 30px;
 
}
  #basket{
    background-image: url("img/bag.svg");
    top: 90px;
  }

.rightbtn{
    background: #ffffff;
    width: 100px;
    height: 50px;
    border-radius: 100px 0 0 100px;
    background-size: 20%;
    background-repeat: no-repeat;
    background-position: center;
    right: 0;
    position: absolute;
    border: none;
}

#hero video{
    width: 100%;
}

#heroinfo img{
    width: 20px;
    filter: invert(100%);
    margin-left: 10px;
}

#heroinfo{
    position: absolute;
    bottom: 50%;
    transform: translateY(100%);
    width: 100%;
 

}

#heroinfo h5, #heroinfo h2{
    font-family: "Playfair Display", serif; 
    color: white;
    font-weight:lighter;
    text-transform: uppercase;
    letter-spacing: 2px;
}
#heroinfo h2{
    font-size: 40px;
    
}


#heroinfo a{
    color: white;
    text-decoration: none;
    margin-top: 150px;
    display: inline-block;
    display: flex;
    font-family: "Poppins", sans-serif;
}

#hero{
    position: relative;
}

h3{
    /* font-family: "Playfair Display", serif; */
    font-family: "Poppins", sans-serif;
    font-weight: 200;
    
}

#categories .container{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}

#categories h2{
    width: 100%;
    margin: 90px 0 40px;
    font-weight: 200;
}

#categories img{
    width: 100%;
}

.category{
    width: calc(100% / 3 - 20px);
}
.category:nth-child(3){
    margin: 0 20px;

}

#projects{
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    margin-top: 50px;
}

.project{
    width: 50%;
    height: 500px;
    background-image: url("img/men.webp");
    background-size: 30%;
    background-repeat: no-repeat;
    background-position: center;
    position: relative;
}

.taro{
    background-image: url("img/side.webp");
    background-size: cover;

}

.charity{
    background-image: url("img/charity.webp");
    background-size: cover;
}

.objects{
    background-image: url("img/books.webp");
}

#projects a{
    text-decoration: underline;
}



.projectinfo{
    position: absolute;
    bottom: 150px;
    left: 255px;
    text-align: left;
}

.taro .projectinfo{
    color: #fff;
}

.taro a{
    color: #ffffff;
}

.charity .projectinfo{
    color: #fff;
}

.charity a{
    color: #fff;
}


#hitdeals a img{
    width: 20px;
    filter: invert(100%);
    margin-left: 10px;
}

.lines{
    position: absolute;
    z-index: 6;
    width: 100%;
    bottom: 0;
    display: flex;
}

.line{
    height: 2px;
    width: calc(25% - 4px) ;
    background-color: #ffffff42;
    margin: 2px;
}

.darkline{
    background-color: #00000042;
}

#hitdealstop{
    display: flex;
    justify-content: space-between;
}

#hitdeals a{
    color: rgb(0, 0, 0);
    text-decoration: none;
    display: flex;
    font-family: "Poppins", sans-serif;
    align-items: center;
}

#hitdeals{
    margin: 90px 0 40px;
}

.aboutus h2{
    margin-top: 90px;
    font-family: "Playfair Display", serif;
    color: #222;
}

.aboutus p{
    margin-top: 45px;
    font-family: "Poppins", sans-serif;
    color: #686868;
    font-size:10px ;
    width: 70%;
}

.greysection{
    background-color: #f3f3f3;
    display: flex;
    padding: 90px 0 ;
}

.greysection .container{
    display: flex;
    /* align items by not the main axis */
    align-items: center;
}

.greysection h1{
    font-family: "Playfair Display", serif;
    font-size: 60px;
    color: #414141;
    font-weight: 200;
}

.greysection a img{
    width: 20px;
    margin-left: 10px;
}

.greysection a{
    margin-top: 40px;
    font-family: "Poppins", sans-serif;
    display: inline-block;
    display: flex;
}

.greysection img{
    width: 40%;
    
}

.certificate{
    width: 60%;
}

.email h3{
    text-align: center;
    font-weight: 400;
}

.email{
    margin-top: 90px;
}

#slidercontainer{
    height: 300px;
    position: relative;
}

.slider{
    position: absolute;
    height: 100%;
    display: flex;
    width: 100%;
}

.slide{
    width: calc(100% / 4 - 20px);
    margin: 0 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    font-family: "Poppins", sans-serif;
}

.slidetop{
    width: 100%;
    position: relative;
    height: 220px;
    margin-top: 40px;

}

.slidetop button{
    width: 40px;
    height: 40px;
    position: absolute;
    right: 0;
    top: 0;
    z-index: 5;
    border: none;
    background: none;
    background-image: url("img/heart.svg");
    background-size: 40%;
    background-repeat: no-repeat;
    background-position: center;
    opacity: .5;
    transition: .3s;
    
}

.slidetop button:hover{
    opacity: 1;
}

.slide img{
    width: 100%;
    position: absolute;
    height: 100%;
    object-fit: cover;
}

.slide h6{
    width: 100%;
    line-height: 40px;
    font-weight: 100;
}

.slide h5{
    line-height: 40px;
    font-weight: 300;
}

.email input{
    width: 100%;
  padding: 12px 20px;
  margin: 8px 8px;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 2px;
  box-sizing: border-box;
  height: 45px;
}

.email .container{
        display: flex;
        align-items: center;
        width: 50%;
        margin-top: 30px ;
      
}

.email button{
    width: 40%;
    background-color: #222;
    color: #eeeeee;
    height: 45px;
    border: none;
    border-radius: 2px;

}

footer{
    border-top: 1px solid #acacac;
    margin: 90px 0;
}

footer .container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

footer img{
    width: 100px;
}

footer #first{
    display: flex;
}

footer #second a{
    display: block;
}

footer #third{
    display: flex;
    flex-wrap: wrap;

}

footer h5{
    width: 100%;
    font-family: "Poppins", sans-serif;
    font-weight: 300;
}

footer #third a{
    width: 40px;
    height: 40px;
    background-image: url("img/vk.svg");
    display: block;
    border:  1px solid black;
    transition: .5s;
    background-size: 80%;
    background-position: center;
    background-repeat: no-repeat;
    opacity: .5;
    border-radius: 30px;
    margin-right: 10px;
}

footer #third a:hover{
    opacity: 1;

}

footer #third #tele{
    background-image: url("img/telegram.svg");
}

footer #third #whats{
    background-image: url("img/whatsapp.svg");
}

footer p{
    width: 100%;
    
}

.line{
    border-bottom: 1px solid #acacac;
    width: 100%;
    margin: 45px 0;
}